@import url(http://fonts.googleapis.com/css?family=Lato:100,400,700);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:800);
/* line 4, ../sass/dvd.scss */
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

/* line 11, ../sass/dvd.scss */
* {
  box-sizing: border-box;
}

/* line 16, ../sass/dvd.scss */
*::selection {
  background: rgba(0, 0, 0, 0);
}

/* line 20, ../sass/dvd.scss */
header, section {
  display: block;
  width: 100%;
}

/* line 27, ../sass/dvd.scss */
header {
  background: black;
  padding: 20px 40px;
  color: white;
  position: fixed;
  z-index: 9;
}
@media screen and (max-width: 640px) {
  /* line 27, ../sass/dvd.scss */
  header {
    position: relative;
  }
}
/* line 35, ../sass/dvd.scss */
header #search {
  width: 100%;
}
/* line 39, ../sass/dvd.scss */
header input {
  height: 100%;
  width: 33%;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: #000;
  color: #FFF;
  font-size: 1.5rem;
  line-height: 1;
}
@media screen and (max-width: 640px) {
  /* line 39, ../sass/dvd.scss */
  header input {
    width: 100%;
    display: block;
    margin: 1rem 0;
  }
}

/* line 61, ../sass/dvd.scss */
.wrapper {
  position: relative;
  top: 72px;
}

/* line 66, ../sass/dvd.scss */
h1 {
  font-family: "Alegreya Sans SC", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 0;
}

/* line 73, ../sass/dvd.scss */
h2, h3, h4 {
  font-family: "Lato", sans-serif;
  margin: 0;
  line-height: 1.3;
}

/* line 88, ../sass/dvd.scss */
.innerwrap {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
/* line 81, ../sass/dvd.scss */
.innerwrap:after {
  display: table;
  content: '';
  clear: both;
}

/* line 96, ../sass/dvd.scss */
.dvd-element {
  display: table;
  width: 100%;
  padding: 40px;
  position: relative;
  overflow: hidden;
}
/* line 108, ../sass/dvd.scss */
.dvd-element .blur {
  -webkit-transform: scale(5);
  transform: scale(5);
  -moz-transform: scale(5);
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -10%;
  opacity: 1;
  z-index: -1;
}
/* line 121, ../sass/dvd.scss */
.dvd-element .cover {
  width: 215px;
  display: table-cell;
  position: relative;
  background: rgba(255, 255, 255, 0.25);
}
/* line 129, ../sass/dvd.scss */
.dvd-element .cover .cover-img {
  width: 100%;
  min-width: 215px;
  display: block;
  margin: 0;
}
/* line 135, ../sass/dvd.scss */
.dvd-element .cover .fsk {
  position: absolute;
  width: 61px;
  top: 0;
  left: 0;
}
/* line 143, ../sass/dvd.scss */
.dvd-element .info {
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 17%, rgba(255, 255, 255, 0) 70%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(17%, rgba(255, 255, 255, 0.25)), color-stop(70%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 17%, rgba(255, 255, 255, 0) 70%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 17%, rgba(255, 255, 255, 0) 70%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 17%, rgba(255, 255, 255, 0) 70%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 17%, rgba(255, 255, 255, 0) 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#deffffff', endColorstr='#00ffffff',GradientType=1 );
  display: table-cell;
  position: relative;
  vertical-align: top;
  padding: 20px 25px;
}
/* line 157, ../sass/dvd.scss */
.dvd-element .info h3 {
  color: white;
  text-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
  font-size: 2.3rem;
}
@media screen and (max-width: 640px) {
  /* line 157, ../sass/dvd.scss */
  .dvd-element .info h3 {
    font-size: 1rem;
  }
}
/* line 166, ../sass/dvd.scss */
.dvd-element .info h3 span {
  display: block;
  font-size: 1rem;
}
/* line 172, ../sass/dvd.scss */
.dvd-element .info p {
  color: white;
}

/* line 181, ../sass/dvd.scss */
.modal-dialog.search .modal-header {
  border-bottom: 0;
}
/* line 182, ../sass/dvd.scss */
.modal-dialog.search .modal-footer {
  border-top: 0;
  margin-top: 0;
}
/* line 183, ../sass/dvd.scss */
.modal-dialog.search .modal-body {
  padding: 0 20px;
}
/* line 184, ../sass/dvd.scss */
.modal-dialog.search .modal-title {
  display: inline;
}
/* line 185, ../sass/dvd.scss */
.modal-dialog.search .invis-radio {
  display: inline;
}
/* line 188, ../sass/dvd.scss */
.modal-dialog.search .invis-radio input[type=radio] {
  display: none;
}
/* line 189, ../sass/dvd.scss */
.modal-dialog.search .invis-radio label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.428571429;
  font-size: 18px;
  cursor: pointer;
  color: #E4E4E4;
  margin-right: 10px;
}
/* line 190, ../sass/dvd.scss */
.modal-dialog.search .invis-radio input[type=radio]:checked + label {
  color: black;
}
/* line 192, ../sass/dvd.scss */
.modal-dialog.search .invis-radio input[type=radio]:checked + label:after, .modal-dialog.search .invis-radio input[type=radio]:checked + label:before {
  display: inline;
}
/* line 193, ../sass/dvd.scss */
.modal-dialog.search .invis-radio input[type=radio]:checked + label:before {
  content: 'Nach ';
}
/* line 194, ../sass/dvd.scss */
.modal-dialog.search .invis-radio input[type=radio]:checked + label:after {
  content: ' suchen';
}

/* line 81, ../sass/dvd.scss */
.modal-body:after {
  display: table;
  content: '';
  clear: both;
}
/* line 202, ../sass/dvd.scss */
.modal-body input, .modal-body textarea, .modal-body select {
  display: block;
  margin-bottom: 10px;
}
/* line 206, ../sass/dvd.scss */
.modal-body input:last-of-type, .modal-body textarea:last-of-type, .modal-body select:last-of-type {
  margin-bottom: 0;
}
/* line 211, ../sass/dvd.scss */
.modal-body textarea {
  min-height: 150px;
}
/* line 214, ../sass/dvd.scss */
.modal-body label {
  float: left;
  margin-bottom: 10px;
  width: 100%;
  font-weight: normal;
}
/* line 221, ../sass/dvd.scss */
.modal-body label.pflicht {
  font-weight: bold;
}
/* line 225, ../sass/dvd.scss */
.modal-body label small {
  font-weight: normal !important;
  color: #BBB;
}
/* line 231, ../sass/dvd.scss */
.modal-body .inline {
  display: inline;
  margin-left: 20px;
  cursor: pointer;
}
/* line 236, ../sass/dvd.scss */
.modal-body .inline label, .modal-body .inline input {
  display: inline;
  width: auto;
  float: none;
  cursor: inherit;
  max-width: initial;
}
/* line 244, ../sass/dvd.scss */
.modal-body .inline input {
  margin-right: 7px;
}
/* line 245, ../sass/dvd.scss */
.modal-body .inline label {
  font-size: 0.75em;
  color: #428BCA;
}
/* line 249, ../sass/dvd.scss */
.modal-body .inline label:hover {
  text-decoration: underline;
}
/* line 252, ../sass/dvd.scss */
.modal-body .toggle-all {
  font-size: 0.75em;
  color: #428BCA;
  margin-left: 10px;
}
/* line 258, ../sass/dvd.scss */
.modal-body .genre-wrap {
  width: 50%;
  float: left;
  font-size: 0.75em;
}
/* line 263, ../sass/dvd.scss */
.modal-body .genre-wrap.extend {
  margin-bottom: 30px;
}
/* line 264, ../sass/dvd.scss */
.modal-body .genre-wrap input, .modal-body .genre-wrap label {
  display: inline;
  float: none;
}
/* line 265, ../sass/dvd.scss */
.modal-body .genre-wrap input {
  margin-right: 7px;
}
/* line 266, ../sass/dvd.scss */
.modal-body .genre-wrap .subgenre {
  padding-left: 20px;
  display: none;
}
/* line 269, ../sass/dvd.scss */
.modal-body .genre-wrap .subgenre input, .modal-body .genre-wrap .subgenre label {
  display: inline;
  float: none;
  margin-bottom: 0;
}

/* line 274, ../sass/dvd.scss */
.left {
  float: left;
}

/* line 275, ../sass/dvd.scss */
.right {
  float: right;
}

/* line 276, ../sass/dvd.scss */
.deactivated {
  display: none !important;
}

/* line 277, ../sass/dvd.scss */
.error {
  border: red 2px solid;
  background: #EEBEBE;
}

/* line 278, ../sass/dvd.scss */
p.error {
  background: none;
  border: 0;
  color: red;
  font-weight: bold;
}
